body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: cornflowerblue;
}

#title {
	font-size: 40px;
    text-align: center;
    color: #666666;
    margin: 15px 0 25px 0;
}

#game {
    position: relative;
    background-color: black;
    background-image: url(img/space.png);
    height: 600px;
    width: 600px;
	overflow: hidden;
}

.game-instructions {
    position: relative;
    color: white;
    left: 7rem;
    top: 0px;
}

h1 {
    margin: 0;
}

#start-button {
    position: absolute;
	font-size: 24px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
}

#spaceship {
    position: relative;
    z-index: 100000;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px
}

.laser {
    position: absolute;
    width: 40px;
    height: 30px;
}

.alien {
    height: 60px;
    width: 70px;
    position: absolute;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 60px;
    width: 70px;
    position: absolute;
    opacity: 0;
}